<template>
  <footer>
    WIP - this is just a test, commit
  </footer>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
footer {
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
