<template>
  <c-flex
    bg="white"
    w="100%"
    as="nav"
    align="center"
    justify="space-between"
    wrap="wrap"
    pos="fixed"
    z-index="2"
    px="{5}"
    py="{4}"
    mb="{4}"
  >
    <c-flex flexDirection="row" justifyContent="center" alignItems="center">
      <nuxt-link to="/" class="logo-wrapper"  >
        <logo style="width: 120px;"/>
      </nuxt-link>
    </c-flex>
  </c-flex>
</template>

<script>
import Logo from '@/assets/icons/logo.svg?inline'

export default {
  components: {
    Logo
  },

  data() {
    return {
      showMenu: false,
    }
  },

  methods: {
    toggleMenu() {
      console.log('show menu')

      this.showMenu = !this.showMenu
    }
  },
}
</script>
