<template>
  <c-heading
    font-familiy="heading"
    :size="size"
    :as="level"
  >
    <slot />
  </c-heading>
</template>

<script>
export default {
  props: {
    level: {
      type: String,
      default: 'h1'
    },
    size: {
      type: String,
      default: 'lg'
    }
  }
}
</script>
