<template>
  <c-badge
    :variant-color="color"
    color="white"
    font-familiy="text"
    font-weight="bold"
    mt="2"
  >
    <slot />
  </c-badge>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: 'primary'
    }
  }
}
</script>
