<template>
  <CThemeProvider>
    <CReset />

    <the-header />

    <nuxt keep-alive />

    <the-footer />
  </CThemeProvider>
</template>

<script>
import TheHeader from '@/components/TheHeader'
import TheFooter from '@/components/TheFooter'

export default {
  components: {
    TheHeader,
    TheFooter
  }
}
</script>

<style>
@font-face {
  font-family: 'kleine_sans_medium';
  src: url('https://assets.kleinezeitung.at/layout/klz/files/global/klzfontsneu/fonts/kleinesans-medium.woff2') format('woff2'),
  url('https://assets.kleinezeitung.at/layout/klz/files/global/klzfontsneu/fonts/kleinesans-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kleine_titel_medium';
  src: url('https://assets.kleinezeitung.at/layout/klz/files/global/klzfontsneu/fonts/kleinetitel-medium.woff2') format('woff2'),
  url('https://assets.kleinezeitung.at/layout/klz/files/global/klzfontsneu/fonts/kleinetitel-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
</style>
