<template>
  <nuxt-link
    :to="{
      name: 'channel-article',
      params: { channel: article.channel || 'home', article: article.id }
    }"
    tag="article"
  >
    <c-box
      max-w="sm"
      border-width="1px"
      rounded="lg"
      overflow="hidden"
      bg="background"
      shadow="md"
      font-family="heading"
      cursor="pointer"
    >
      <c-image
        rounded-top="md"
        :src="article.image.webUrl"
        :alt="article.title"
        fallback-src="https://via.placeholder.com/150"
      />
      <c-box p="2">
        <kicker>
          {{ article.kicker }}
        </kicker>
        <c-flex align="baseline" mt="2">
          <heading size="md">
            {{ article.title }}
          </heading>
        </c-flex>
      </c-box>
    </c-box>
  </nuxt-link>
</template>

<script>
import heading from '@/components/base/Heading'
import kicker from '@/components/base/Kicker'

export default {
  components: {
    heading,
    kicker
  },

  props: {
    article: {
      type: Object,
      default: null
    }
  }
}
</script>
